body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.content{
  flex: 1;
  max-width: 50%;
}

.content h1{
  font-size: 36px;
  margin-bottom: 20px;
  text-align: left;
}

.content p{
  font-size: 16px;
  margin-bottom: 30px;
  text-align: left;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to right, #f2709c, #ff9472);
}

.header .logo{
  font-size: 24px;
  font-weight: 900;
}

.header ul{
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.header nav{
flex: 1;
display: flex;
justify-content: center;
}

.header a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.get-started{
  background: white;
  color: #f2709c;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  /* margin-left: auto; */
}

.main-section{
display: flex;
justify-content: space-between;
align-items: center;
padding: 50px;
}

.main-section h1{
  font-size: 36px;
  margin-bottom: 20px;
  text-align: left;
}

.main-section p{
  font-size: 16px;
  margin-bottom: 30px;
  text-align: left;
}

.input-group{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.input-group input{
  padding: 10px 20px;
  background: #f2709c;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0 ;
  cursor: pointer;
}

.right-image{
  flex: 1;
  max-width: 48%;
  height: auto;
  object-fit: contain;
}